{% extends "base.html" %}
{% load static %}
{% block header %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title%}Your easylaughs profile{% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css" />
{% endblock %}
{% block content %}

<table>
	<thead>
		<tr>
			<td colspan="2"><h1>{{ user.first_name }} {{ user.last_name }}</h1></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td width="8%"><img id="profile_mugshot" height="100px" src="/media/{{ object.mugshot }}"/></td>
			<td id="about_me">{{ object.about_me }}</td>
		</tr>
		<tr height="60px">
			<td align="right" colspan="2"><a class="btn" href="{% url 'update_profile' object.pk %}">edit profile</a></td>
		</tr>
	</tbody>
</table>

{% endblock %}
