{% extends "base.html" %}
{% load static %}
{% block header %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title%}Your easylaughs profile{% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css" />
{% endblock %}
{% block content %}
<p>
<img id="profile_mugshot" width="100px" src="/media/{{ user.profile.mugshot }}"/>

</p>

			<h1 class="top">{{ user.profile }}</h1>
<p>
			{{ user.profile.about_me|striptags|urlize|linebreaks }}
</p>
<p>
<a class="btn" href="{% url 'update_profile' %}">edit profile</a> <a class="btn" href="{% url 'account_email' %}">Change, add, or verify email</a>
</p>

{% endblock %}
