{% extends "base.html" %}
{% load static %}
{% block header %}{{ block.super }}
    <title>{% block title%}easylaughs Actors{% endblock title %}</title>
{% endblock %}
{% block content %}
{% for actor in object_list %}
<div class="bottom-border">
<p>
<img id="profile_mugshot" width="100px" src="/media/{{ actor.mugshot }}"/>
{% if user == actor.user %}
<a class="btn" style="float:right;" href="{% url 'update_profile' %}"><strong>edit profile</strong></a> 
{% endif %}
</p>

			<h1 class="top">{{ actor }}</h1>
<p>
			{{ actor.about_me|striptags|urlize|linebreaks }}
</p>
</div>
{% endfor %}
{% endblock %}
