{% extends 'base.html' %}
{% load static %}
{% block header %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}This is my index page{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css" />
{% endblock %}
{% block content %}

{% if late or early %}
	<div id="next_show">
	<h3>Next Show!

	<div style='float:right; margin-right:20px;'>
		<em><a class='btn' href="{% url 'reserve_ticket' pk=show_id %}?next={{request.path}}">Reserve tickets</a></em>
	</div></h3>
	{% if early %}
		<img id="profile_mugshot" width="60px" src="/media/{{ early.show.icon }}"/>
		<h3 class="top">Early show: {{ early }}</h3>
		<p><em>{{ early.date }}</em></p>
		<p>{{ early.show.short_desc }}</p>
		<p>{{ early.long_desc }}</p>
	{% endif %}
	{% if late %}
		<img id="profile_mugshot" width="60px" src="/media/{{ late.show.icon }}"/>
		<h2 class="top">Main show: {{ late }}</h2>
		<p><em>{{ late.date }}</em></p>
		<p>{{ late.show.short_desc }}</p>
		<p>{{ late.long_desc }}</p>
	{% endif %}
	</div>
	{% if workshop %}
		<div id="next_workshop">
		<h3>Next Workshop!</h3>
		<h3>{{ workshop.title }}</h3>
		<p><em>{{ workshop.date }} with {{workshop.actor.first_name}}</em></p>
		<p>{{ workshop.desc }}</p>
		</div>
	{% endif %}
{% else %}
<p>Nothing to see here.</p>
{% endif %}
{% endblock %}
