{% extends 'base.html' %}
{% load static %}
{% block header %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}This is my index page{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css" />
{% endblock %}
{% block content %} 

{% if user.is_authenticated %}
<h2>Hello 
{% if user.first_name %}
{{ user.first_name }}
{% else %}
{{ user }}
{% endif %}
 </h2>

<p>
We're looking forward to seeing you at a show or a workshop soon. Look at what's coming up!
</p>
{% endif %}

{% if early or late %}
<div id="next_show">
<h3>Next Show!</h3>
{% endif %}
{% if early %}
<img id="profile_mugshot" width="60px" src="/media/{{ early.show.icon }}"/>
<h3 class="top">{{ early.show }}</h3>
<p><em>{{ early.date }}, 8pm</em></p>
<p>&nbsp;</p>
{% endif %}
{% if late %}
<img id="profile_mugshot" width="60px" src="/media/{{ late.show.icon }}"/>
<h2 class="top">{{ late.show }}</h2>
<p><em>{{ late.date }}, 9pm</em></p>
</div>
{% endif %}

{% if workshop %}
<div id="next_workshop">
<h3>Next Workshop!</h3>
<h3>{{ workshop.title }}</h3>
<p><em>{{ workshop.date }} with {{workshop.actor.first_name}}</em></p>
<p>{{ workshop.desc }}</p>
</div>
{% endif %}
{% endblock %}
