{% extends 'base.html' %}

{% block title %}This is my index page{% endblock %}

{% block content %} 

{% if user.is_authenticated %}
<h2>Hello {{ user.first_name }}</h2>

<p>
While this is, or at least will be, the easylaughs main entry page after login. 
Perhaps, and who knows at this stage, it will also be database driven in 
true CMS stylee. Or a flat HTML Page.
</p>
<p>
Anyway, whatever happens, this is what you see when you're<br/><strong>logged in</strong>.
</p>
{% else %}
<h2>Welcome</h2>
<p>
Hiya, this is, or at least will be, the easylaughs main entry page. Perhaps, and who knows at this stage, it will also
be database driven in true CMS stylee. Or a flat HTML Page.
</p>
<p>
Anyway, whatever happens, this is what you see when you're<br/><strong> not logged in</strong>.
</p>
{% endif %}

<h3>Next Show!</h3>
<p>{{ greeting }}</p>
{% for show in index %}
{{ show.date }} {{ show.show.title }}<br/>
{% endfor %}

{% endblock %}
