body {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    
}
a {
    text-decoration: none;
}

h1 {
	margin: 0,0,0,0;
}
#sidebar
{
box-shadow: 2px 2px 8px rgba(0,0,0,.7);
width: 150px;
vertical-align:top;
background:#e00;
float:left;
padding-right:30px;
padding-top:50px;
padding-bottom:250px;
}

#sidebar ul
{
text-decoration:none;
font-family:"Arial", sans-serif;
text-align:left;
color:white;
font-size:1.2em;
font-weight:bold;
letter-spacing:0.02em;
list-style-type:none;
padding-bottom:20px;
}

#sidebar li a:link,a:visited
{
color:white;
text-decoration:none;
}

#sidebar li a:hover
{
color:#500;
}

.info {
	border: 1px solid red;
	border-radius:8px;
	padding: 0px 10px 10px 20px;
	margin: 0px 0px 10px 0px;
}

.bottom-border {
	border-bottom: 1px solid grey;
}

#show_list li {
	list-style-type:none;
}

#next_show {
	border: 1px solid black;
	border-radius:8px;
	padding: 0px 0px 10px 20px;
	margin: 0px 0px 10px 0px;
}

#next_workshop {
	border: 1px solid black;
	border-radius:8px;
	padding: 0px 0px 10px 20px;
}

input[type='password'],
input[type='text'],
input[type='email'] {
    width: 86%;
    border-radius:4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 2px 4px;
    margin: 6px;
}
.logged-in {
    background-size: 90%;
}
.logged-out {
    background-size: 90%;
}
.login_body {
    color: #4d4d4d;
    font-family: 'Arial',Sans-serif;
    font-size:  14px;
}
.fb {
    background: url('/static/gfx/fb_200.png') no-repeat center top;
    box-shadow: 2px 2px 8px rgba(0,0,0,.7);
    border-radius: 5px;
    width: 198px;
    height: 37px;
    margin: 10px auto;
    overflow: hidden;
}
.inset {
    width: 200px;
    padding: 30px;
    background: rgba(255,255,255,.65);
    box-shadow: 2px 2px 8px rgba(0,0,0,.7);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
}
.inset-wide {
    width: 500px;
    padding: 30px;
    background: rgba(255,255,255,.65);
    box-shadow: 2px 2px 8px rgba(0,0,0,.7);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
}
.inset .header {
    margin-bottom: 10px;
}
.ctrlHolder {
	width: 400px;
}
.remember-forgot-section {
	width: 94%;
    text-align: left;
    margin: 8px auto;
    font-size: 10px;
}
.forgot {
	color: red;
    float: right;
    margin-top: 2px;
}
.footnote 
{
    position: relative;
    top: 14px;
    margin-top: 6px;
    font-size: 10px;
}
.footnote a {
	color: black;
	font-weight: bold;
}
.banner-img-logged-out,
.banner-img {
    display:block;
    margin-right:auto;
    margin-left:auto;
    margin-top:50px;
}
.pull-right {
    float:right;
}
.btn {
    color: #fff;
    font-size: 13px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: rgb(255, 0, 0);
    background-image: -moz-linear-gradient(top, rgb(158, 194, 142), rgb(104, 143, 96));
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f00),to(#f00));
    background-image: -webkit-linear-gradient(top, #f00, #f00);
    background-image: -o-linear-gradient(top, #f00, #f00);
    background-image: linear-gradient(to bottom, #f00, #a00);
    background-repeat: repeat-x;
    border-color: #f00;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-width: 2px;
    border-radius: 5px;
    margin-top: 5px;
    padding: 3px 18px 5px 18px;
}

.btn:hover,
.btn.active {
    box-shadow: 1px 1px 9px rgba(0,0,0,.7);
}

ul.errorlist {
    margin: 0;
    padding: 0;
}
ul.errorlist li {
    display: inline;
    color: red;
    font-size: 12px;
}


.lesser
{
text-decoration:none;
font-family:"Arial", sans-serif;
text-align:left;
color:white;
font-size:0.8em;
font-weight:bold;
letter-spacing:0.02em;
list-style-type:none;
padding-bottom:20px;
}

#logo {
padding-left:20px;
position:top,left;
}
#content
{
font-family:Sans-serif;
text-align:left;
color:black;
padding-left:20px;
margin-left:180px;
}

a.small_link {
	font-size:0.6em;
	color:black;
}
