{% extends "base.html" %}
{% load static %}
{% block header %}{{ block.super }}
    <title>{% block title%}Reserve Tickets{% endblock title %}</title>
{% endblock %}
{% block content %}
<h1>Ticket reservation</h1>
{% if too_late %}
<p>Its a bit late to reserve tickets now, we don't always get a chance
to read our emails and get the information to the person on the door,
but please do come along anyway, there'll be plenty of room, 
we'll fit you in!
</p>
<p>
<strong>See you there!</strong>
</p>
{% else %}
{% if not user.first_name and user.is_authenticated %}
<div class='info'>
<p><strong>Note:</strong> Before you reserve! If you haven't already,
 it would be really helpful if you could update your profile and at least
 give us your first name, so that we know who to hold the tickets for; otherwise we will hold them against your
username ({{ user }})
</p>
</div>
{% endif %}
{% if not user.is_authenticated %}
<div class='info'>
<h3>Did you know?</h3>
<p>If you would like to speed up
this process, you could <a id="black_link" href="{% url 'account_signup' %}">create an easylaughs account</a>. Its really easy, and
you can even log-in with your <a id='black_link' href="/accounts/facebook/login/">Facebook account</a> so you don't even have to remember yet
another password! We take this whole easy thing seriously.
</p>
</div>
{% endif %}
<p>You are reserving tickets for the show(s) on {{ show_date.date|date:"l d F" }}.</p>
<form action="" method="post">{% csrf_token %}
{{ form.event_date.as_hidden }}
{% if user.is_authenticated %}
	{{ form.reserved_by.as_hidden }}
	{{ form.email_address.as_hidden }}
{% else %}
<p>Your Name: {{ form.reserved_by }}</p>
<p>Your email: {{ form.email_address }}</p>
{% endif %} 
<p>How many tickets? {{ form.number_of_tickets }}</p>
<p>Do you want to reserve for the early (8pm) show? {{ form.early_show }}</p>
<p>Do you want to reserve for the late (9pm) show? {{ form.late_show }}</p>
<p>Do you have a promo code? {{ form.promo_code }}</p>
<p>How did you hear about us? {{ form.heard_about }}</p>
<input type="submit" value="Reserve Tickets" />
</form>
{% if form.errors %}
<h3>Oops:</h3>
{% for field in form.visible_fields %}


    {% for err in field.errors %}
        <p>{{ field.label_tag }} : {{ err }}</p>
    {% endfor %}

{% endfor %}
{% endif %}
{% endif %}
{% endblock content %}
