{% extends "base.html" %}
{% load static %}
{% block header %}{{ block.super }}
    <title>{% block title%}easylaughs: 500 Server error{% endblock title %}</title>
{% endblock header %}
{% block content %}
		<h1>Oops</h1>
		<p>It looks like 'something' went wrong. By 'something' we actually mean
		'we don't know what'. Try going back in your browser, or going to Boom Chicago.
		</p>
		<p>Actually, don't do that. Come anyway, Friday night, 8 or 9pm, check out
		our website for details... oh yeah. Sorry.
		</p>
{% endblock content %}
