<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

  <head>
{% block header %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title%}easylaughs: Amsterdam improvised comedy{% endblock title %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css" />
{% endblock header %}
  </head>
  <body>

<a href="/"><img id="logo" src="{% static 'gfx/el-logo.png' %}"/></a>

    {% if messages %}
<div id="footnote">
      <strong>Messages:</strong>
      <ul>
	{% for message in messages %}
	<li>{{message}}</li>
	{% endfor %}
      </ul>
</div> <!-- end messages div -->
    {% endif %}

<div id="content-min">
		{% block content %}{% endblock content %}
</div>  <!-- end content div -->

  </body>
</html>
