{% extends "base-min.html" %}
{% load staticfiles %}
{% block header %}{{ block.super }}
    <title>{% block title%}easylaughs Courses{% endblock title %}</title>
{% endblock %}
{% block content %} 

<h3>Course Start Dates</h3>

<div class="info">
{% if course_list %}
<table width="100%">
	<tr>
		<th width="60%">Course</th>
		<th width="20%">Day</th>
		<th width="20%">Start date</th>
		<th>&nbsp;</th>
	</tr>
	{% for course in course_list %}
	{% if course.display %}
	<tr>
		<td>{{ course.title }}</td>
		<td>{{ course.start_date|date:"l" }}</td>
		<td>{{ course.start_date|date:"j F" }}</td>
		<td><a target="_parent" id="black_link" href="{% url 'course_detail' pk=course.id %}">details</a></td>
	</tr>
	{% endif %}
	{% endfor %}
</table>
{% else %}
<p>There are no courses planned</p>
{% endif %}
</div>
{% endblock content %}
