{% extends "base.html" %}
{% load staticfiles %}
{% block header %}{{ block.super }}
    <title>{% block title%}easylaughs Courses{% endblock title %}</title>
{% endblock %}
{% block content %} 

<img src="{% static 'gfx/courses.gif' %}"/>

<p>
Feel free to check out our <a id="black_link" href="/courses/FAQ/">FAQ page</a>. If you have any specific questions please contact us at <a href="mailto:courses@easylaughs.nl?subject=More Info Please!">courses@easylaughs.nl</a>.
</p>
<p>
To reserve your slot simply click the 'reserve now' link in the course details panel below.
</p>

<div class="info">
<table width="100%">
	<tr>
		<th>Course</th>
		<th>Day</th>
		<th>Start date</th>
	</tr>
	<tr>
		<td>{{ course.title }}</td>
		<td>{{ course.start_date|date:"l" }}</td>
		<td>{{ course.start_date|date:"jS F" }}</td>
	</tr>
	<tr>
		<td colspan="3">
			<p>
			{{ course.description|linebreaks }}
			</p>
			
			<table id="course_detail">
				<tr>
					<td align='right'>Class :</td>
					<td><strong>{{ course.title }} ({{ course.start_date|date:"l" }})</strong></td>
				</tr>
				<tr>
					<td align='right'>Day and time :</td>
					<td>{{ course.start_date|date:"l" }}s from {{ course.start_time|date:"f" }} 'til {{ course.end_time|date:"f" }}</td>
				</tr>
				<tr>
					<td align='right'>Dates :</td>
					<td>{{ course.start_date|date:"N jS" }} - {{ course.end_date|date:"N jS" }} ({{ course.duration }} weeks)</td>
				</tr>
				<tr>
					<td align='right'>Student performance :</td>
					<td>{{ course.show_date.date|date:"l N jS" }}</td>
				</tr>
				<tr>
					<td align='right'>Teacher :</td>
					<td>{{ course.teacher.first_name }}</td>
				</tr>
				<tr>
					<td align='right'>Location :</td>
					<td><a href="{% url 'location_detail' pk=course.location.id %}">{{ course.location }}</a></td>
				</tr>
				<tr>
					<td align='right'>Price :</td>
					<td>&euro; {{ course.cost }}</td>
				</tr>
			</table>
		</td>
	</tr>
	{% if course.places_left > 0 %}
	<tr>
		<td>{{ course.places_left }} place{% if course.places_left > 1 %}s{% endif %} left!</td>
		<td>&nbsp;</td>
		<td><a class='btn' href="{% url 'reserve_course' pk=course.id %}">Reserve now</a></td>
	</tr>
	{% else %}
	<tr>
		<td>Fully booked!</td>
		<td>&nbsp;</td>
		<td><a class='btn' href="{% url 'course_waitinglist' pk=course.id %}">Waiting List</a></td>
	</tr>
	{% endif %}
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
</table>
</div>
{% if is_teacher and student_list %}
<h2>Student List</h2>
<ul>
	{% for student in student_list %}
			<li><a id="black_link" href="{% url 'update_student' pk=student.id %}">{{ student.name }}</a>
			<a id="black_link" href="mailto:{{ student.email_address }}">({{ student.email_address }})</a> {{ student.get_status_display }}
			{% if student.status == 4 %}(&euro;{{ student.to_pay }} still owed){% endif %}</li>
	{% endfor %}
</ul>

{% if waiting_list %}
<h2>Waiting list</h2>
<ul>
	{% for student in waiting_list %}
	<li><a id="black_link" href="{% url 'update_student' pk=student.id %}">{{ student.name }}</a> (<a id="black_link" href="mailto:{{ student.email_address }}">{{ student.email_address }}</a>)</li>
	{% endfor %}
</ul>
{% endif %}
{% else %}
<p>
<a href="{% static 'doc/easylaughs_courses-leaflet.pdf' %}">Course Brochure</a>
</p>
<h3>Registration and Payment</h3>
<p>
To register for any of the above courses simply click the Reserve Now button - that's it!<br/> 
Payment <a id="black_link" href="/terms/">terms and conditions</a>.
</p>
{% endif %}
{% endblock content %}
