{% extends "base.html" %}
{% load static %}
{% block header %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title%}Shows{% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css" />
{% endblock %}
{% block content %} 

{% if 'events.add_show' in perms %}
<a class='btn' href="{% url 'show_create' %}">Add show</a>
{% endif %}


<div class='info'>
<p>easylaughs improvised comedy shows are on every Friday night at the CREA Cafe.</p>
<p>Prices:</p>
<ul id='show_list'>
	<li>&euro;10 for main or both shows.</li>
	<li>&euro;5 for the 20:00 show only.</li>
	<li>&euro;4 for students for both shows.</li>
</ul>
</div>
<h1>Coming shows</h1>
{% regroup show_list by date.date as grouped_show_list %}
<ul id='show_list'>
	{% for show in grouped_show_list %}
	<li><h2>{{ show.grouper|date:"l d F" }}</h2>
	<ul class='bottom-border'>{% for item in show.list %}
		<li><img id='profile_mugshot' width='60px' src="/media/{{ item.show.icon }}"/> 
		<h2>{{ item.show.title }}</h2>
		<p><em>{% if item.date.event_type == 2 %}9 o'clock show{% else %}8 o'clock show{% endif %}</em></em></p>
		{% if 'events.change_show' in perms %}
		<p>
			<em><a class='btn' href="{% url 'show_edit' pk=item.show.id %}">Edit Show</a></em>
		{% endif %}
		{% if 'events.delete_show' in perms %}
			<em><a class='btn' href="{% url 'show_delete' pk=item.show.id %}">Cancel Show</a></em>
		</p>
		{% endif %}

		<p>{{ item.show.short_desc }}</p>
		<p>{{ item.show.long_desc }}</p>
		</li>
		{% endfor %}
	</ul>
	</li>
	{% endfor %}
</ul>
{% endblock content %}
