{% extends "base.html" %}
{% load static %}
{% block header %}{{ block.super }}
    <title>{% block title%}Delete Contact{% endblock title %}</title>
{% endblock %}
{% block content %} 
<div id="show_list">
<h1>Delete Show</h1>

<p>Are you sure you want to cancel the {{ show.date }} ({{ show.show.title }})?</p>

<form action="{% url 'show_delete' pk=show.id %}" method="POST">{% csrf_token %}

<input type='submit' value="Yes, get it outta here"/>
<a href="{% url 'show_list' %}">Ooops, no, not this one.</a>

</form>

</div>
{% endblock content %}
