{% extends "base.html" %}
{% load static %}
{% block header %}{{ block.super }}
    <title>{% block title%}easylaughs Show{% endblock title %}</title>
{% endblock %}
{% block content %} 
<h1>{{ object.date.date|date:"l jS F" }}
<div style='float:right;'>
<em><a class='btn' href="{% url 'reserve_ticket' pk=object.date.id %}?next={{request.path}}">Reserve tickets</a></em>
		{% if is_casting %}
		<em><a class='btn' href="{% url 'cast_show' pk=show.id %}">Casting</a></em>
		{% endif %}
</div>
</h1>
{% if object.early_show %}
<ul id='show_list'>
<li><img id='profile_mugshot' width='100px' src="/media/{{ object.early_show.icon }}"/><h2>{{ object.early_show }}</h2></li>
<li><p>The 8 o'clock show, just &euro;5 or slightly less if you're a student.</p><p>{{ object.early_show.short_desc|striptags|urlize|linebreaks }}</p></li>
<li><p>{{ object.early_extra_inf|striptags|urlize|linebreaks }}</p></li>
</ul>
{% endif %}
{% if object.late_show %}
<ul id='show_list'>
<li><img id='profile_mugshot' width='100px' src="/media/{{ object.late_show.icon }}"/><h2>{{ object.late_show }}</h2></li>
<li><p>The 9 o'clock show, just &euro;10 or &euro;5 to upgrade from the 8 o'clock show. Just &euro;4 for both shows if you're a student!</p><p>{{ object.late_show.short_desc|striptags|urlize|linebreaks }}</p></li>
<li><p>{{ object.late_extra_inf|striptags|urlize|linebreaks }}</p></li>
{% if cast %}
<li>
{% if host %}
<p><strong>Your host:</strong> {{ host.person.first_name }} {{ host.person.last_name }}</p>
{% endif %}
<p><strong>The cast:</strong>
{% for actor in cast %}
		{% if not actor.host  %}
			{% if forloop.last %}and {{ actor.person.first_name }}
			{% else %}{{ actor.person.first_name }}, 
			{% endif %}
		{% endif %}
{% endfor %}
</p>
</li>{% endif %}
</ul>
{% endif %}
{% if reservations %}
<h3>Reservations</h3>
<table>
	<tr>
		<th width="60%">Name</th>
		<th width="20%">Tickets</th>
		<th>8pm</th>
		<th>9pm</th>
	</tr>
	{% for reservation in reservations %}
	<tr>
		<td>{{ reservation.reserved_by.first_name }} {{ reservation.reserved_by.last_name }}</td>
		<td>{{ reservation.number_of_tickets }}</td>
		<td>{% if reservation.early_show %}<img src="{% static 'gfx/tick.png' %}"/>{% else %}<img src="{% static 'gfx/cross.png' %}"/>{% endif %}</td>
		<td>{% if reservation.late_show %}<img src="{% static 'gfx/tick.png' %}"/>{% else %}<img src="{% static 'gfx/cross.png' %}"/>{% endif %}</td>
	</tr>
	{% endfor %}
	<tr>
		<td><strong>Total</strong></td>
		<td><strong>{{ total_tickets }}</strong></td>
		<td></td>
		<td></td>
	</tr>
</table>
{% endif %}
{% endblock content %}
