{% extends "base.html" %}
{% load static %}
{% block header %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title%}Shows{% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css" />
{% endblock %}
{% block content %} 
<h1>Add a Workshop</h1>
<form action="" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Add workshop" />
</form>
{% endblock content %}
