{% extends "base.html" %}
{% load static %}
{% block header %}{{ block.super }}
    <title>{% block title%}easylaughs Workshops{% endblock title %}</title>
{% endblock %}
{% block content %} 
<div id="show_list">
<img src="{% static 'gfx/workshops.gif' %}"/>

{% if perms.events.add_workshop %}
<a class='btn' href="{% url 'workshop_create' %}">Add workshop</a>
{% endif %}

<div class='info'>
<h2>Drop-in Improv Workshops</h2>
<ul>
	<li>When: every Sunday afternoon 12:00-14:00</li>
	<li>Cost: €10 (pay at the workshop, no need to reserve) or see below for strippenkaart prices.</li>
	<li>Where: the CREA (ask at reception which room if not shown below).</li>
</ul>
</div>
<p>
If you have always wanted to try improv, if you have taken a class and 
would like to continue growing your skills or if you simply want to enjoy 
a couple of hours of fun and laughter with like-minded people, easylaughs
 offers drop-in improv workshops in English every Sunday afternoon where
  everyone is welcome and no experience is required.
</p>
<p>
Each workshop is run by a different member of easylaughs 
(or occasionally a guest) who gives it a new theme from learning the basics
 and playing games to getting into a particular aspect of improv performance.
</p>
<p>
See other pages for our courses and special workshops.
</p>
{% if workshop_list %}
<h3>Upcoming workshops</h3>
<ul id='show_list'>
	{% for workshop in workshop_list %}
	<li><h3>{{ workshop.title }}<img width='50px' id='profile_mugshot' src="{{ workshop.actor.profile.mugshot.url }}"/></h3>
		<ul class='bottom-border'>
			<li>
				<p><em>{{ workshop.date }}</em></p>
				<p>{{ workshop.desc|striptags|urlize|linebreaks }}<p>
				<p>This workshop will be led by {{ workshop.actor.first_name }} {{ workshop.actor.last_name }}</p>
				<p>
					{% if 'events.change_show' in perms %}<em><a class='btn' href="{% url 'workshop_edit' pk=workshop.id %}">Edit workshop</a></em>{% endif %}
					{% if 'events.delete_show' in perms %}<em><a class='btn' href="{% url 'workshop_delete' pk=workshop.id %}">Cancel workshop</a></em>{% endif %}
				</p>
			</li>
		</ul>
	</li>
	{% endfor %}</ul>
{% endif %}
<h3>Strippenkaart</h3>
<img style='float:right' src="{% static 'gfx/strippenkaart.png' %}"/>
<p>
You can also buy a season pass to get your workshops on the cheap. Email us or just ask the instructor at the workshop for more details. The strippenkaart is also valid as entry into any of our shows.
</p>

<ul>
    <li>&euro;75 for 12 workshops/shows</li>
    <li>&euro;50 for 8 workshops/shows</li>
    <li>&euro;30 for 4 workshops/shows</li>
</ul>
<p>
You can buy your strippenkaart from the teacher at the workshop.
</p>
{% endblock content %}
