{% extends "base.html" %}
{% load static %}
{% block header %}{{ block.super }}
    <title>{% block title%}easylaughs Workshops{% endblock title %}</title>
{% endblock %}
{% block content %} 
<div id="show_list">
<img src="{% static 'gfx/workshops.gif' %}"/>
<h1>Coming workshops
{% if perms.events.add_workshop %}
<a class='btn' href="{% url 'workshop_create' %}">Add workshop</a>
{% endif %}
</h1>
<div class='info'>
<h2>Drop-in Improv Workshops</h2>
<ul>
	<li>When: every Sunday afternoon 12:00-14:00</li>
	<li>Cost: €10 (pay at the workshop, no need to reserve) or see below for strippenkaart prices.</li>
	<li>Where: the CREA (ask at reception which room if not shown below).</li>
</ul>
</div>
<p>
If you have always wanted to try improv, if you have taken a class and 
would like to continue growing your skills or if you simply want to enjoy 
a couple of hours of fun and laughter with like-minded people, easylaughs
 offers drop-in improv workshops in English every Sunday afternoon where
  everyone is welcome and no experience is required.
</p>
<p>
Each workshop is run by a different member of easylaughs 
(or occasionally a guest) who gives it a new theme from learning the basics
 and playing games to getting into a particular aspect of improv performance.
</p>
<p>
See other pages for our courses and special workshops.
</p>
{% if workshop_list %}
<ul id='show_list'>
	{% for workshop in workshop_list %}
	<li><h2>{{ workshop.title }}</h2>
		<ul class='bottom-border'>
			<li>
				<img width='75px' id='profile_mugshot' src="{{ workshop.actor.profile.mugshot.url }}"/>
				<p><em>{{ workshop.date }}</em></p>
				<p>{{ workshop.desc|striptags|urlize|linebreaks }}<p>
				<p>This workshop will be led by {{ workshop.actor.first_name }} {{ workshop.actor.last_name }}</p>
				<p>
					{% if 'events.change_show' in perms %}<em><a class='btn' href="{% url 'workshop_edit' pk=workshop.id %}">Edit workshop</a></em>{% endif %}
					{% if 'events.delete_show' in perms %}<em><a class='btn' href="{% url 'workshop_delete' pk=workshop.id %}">Cancel workshop</a></em>{% endif %}
				</p>
			</li>
		</ul>
	</li>
	{% endfor %}</ul>
{% else %}
	<p>There aint none.</p>
{% endif %}
{% endblock content %}
